<div class="container">
  <div class="headline">
    <h6>Daily Horoscope</h6>
    <button
      type="button"
      data-toggle="modal"
      data-target="#newDaily"
      (click)="newDaily.assignAllHoros()" 
      class="btn btn-primary"
    >
      +Create
    </button>
  </div>
  <!-- <div class="row">  -->
  <div class="row date-picker mb-3">
    <div class="col-8 text-left">
      <strong>Date:</strong>
      <span class="selected_date">{{ selected_date | date }}</span>
    </div>
    <div class="col-4 text-right">
      <div class="form-group">
        <div class="input-group">
          <input
            (ngModelChange)="dateChanged($event)"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            [(ngModel)]="selected_date"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <div class="input-group-append">
            <a (click)="d.toggle()">
              <span class="material-icons"> today </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--.date-picker ends-->
  <table class="table table-striped table-mid-content table-bordered">
    <thead>
      <tr>
        <th scope="col" width="20%">SN</th>
        <th scope="col" width="30%">Nepali</th>
        <th scope="col" width="30%">English</th>
        <th scope="col" width="20%">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let data of alldaily">
      <tr>
        <td>{{ data.horoscopeId }}</td>
        <td>{{ data.horoscopeDescriptionNepali | slice: 3:120 }}...</td>
        <td>{{ data.horoscopeDescriptionEnglish | slice: 3:120 }}...</td>

        <td>
          <!-- Edit -->
          <a class="action_link">
            <span
              class="edit_icon material-icons"
              data-toggle="modal"
              data-target="#editDaily"
              (click)="editDaily.assignAll(data.id)"
            >
              mode_edit
            </span>
          </a>

          <!-- Delete -->
          <a class="action_link">
            <span class="delete_icon material-icons"
            data-toggle="modal"
            data-target="#deleteDaily"
            (click)="deleteDaily.assignAll(data.id)"
            > delete </span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<dialog-app-create
  #newDaily
  [selected_date]="selected_date"
  (getDailyHoros)="getDailyHoros()"
></dialog-app-create>
<dialog-edit-daily
 #editDaily
 [selected_date]="selected_date"
  (getDailyHoros)="getDailyHoros()">
</dialog-edit-daily>

<dialog-delete-daily 
#deleteDaily
(getDailyHoros)="getDailyHoros()">
>
</dialog-delete-daily>
