/* You can add global styles to this file, and also import other style files */
:root {
  --primaryBg: #022335;
}

html,
body {
  height: 100%;
}
body {
  background: #f3f3f3;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
}


h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

#main .menu_logo {
  width: 110px;
  line-height: 45px;
}

/* TABLE STYLING */

.table {
  table-layout: fixed;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.table.table td {
  padding: 0.5rem;
  line-height: 20px;
  word-break: break-word;
  vertical-align: middle;
}

.table-bordered{
  border: 1px solid #dee2e6;
}

.table.table-striped.table-mid-content th,
.table.table-striped.table-mid-content td {
  vertical-align: middle;
}
.alert-danger {
  background: #f7e5e7;
}
.grey_txt {
  color: #777;
}

/* For Login Form */
input.ng-invalid.ng-touched {
  border-bottom: 1px solid red;
}

.headline h6 {
  font-weight: bolder;
}

/* Default Form Styling */

.form-group label {
  font-size: 14px;
  color: #979797;
}
.form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #000;
}
.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #555;
}
.form-group .material-icons {
  color: #777;
  font-size: 20px;
  position: absolute;
  right: 25px;
  top: 10px;
}

/* Form Error Messages */

.err_msg {
  color: red;
  display: inline-block;
  line-height: 16px;
  margin: 7px 0;
}
input.ng-invalid.ng-touched {
  border-bottom: 1px solid red;
}

/* Buttons */

.btn.btn-primary {
  background: var(--primaryBg);
  border: none;
}
.btn.btn-icon {
  border: none;
  margin: 0 3px;
  border-radius: 50%;
  color: #fff;
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
}

.btn.btn-icon span {
  font-size: 16px;
  line-height: 30px;
  width: 100%;
}

/* Icons */
.edit_icon {
  background: linear-gradient(
    180deg,
    rgba(97, 124, 40, 0.65) 0%,
    rgba(51, 91, 10, 0.9) 100%
  );
}

.preview_icon {
  background-color: #0c3684;
}

.delete_icon {
  background: linear-gradient(
    180deg,
    rgba(227, 9, 9, 0.65) 0%,
    rgba(134, 21, 21, 0.9) 100%
  );
}

.reset_icon {
  background-color: #f63e25;
}

.password_icon {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(87, 87, 179, 1) 0%,
    rgba(10, 118, 140, 1) 100%
  );
}

.edit_icon,
.preview_icon,
.password_icon,
.delete_icon,
.reset_icon {
  border-radius: 50%;
  display: inline-block;
  padding: 3px;
  margin: 1px;
  font-size: 22px;
  color: #fff;
}

/* Bootstrap Modal  */

body.modal-open.modal-open.modal-open {
  overflow: visible;
}
.modal-title {
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #022335;
}
.modal-body {
  padding: 40px;
}
.modal-body .row {
  padding-bottom: 20px;
}
.form-section-heading .title {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 20px;
}

input[type="file"] {
  height: 45px;
}

.whiteheader-item {
  background: #ffffff;
  box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.wh-item-heading {
  padding: 14px 30px;
  border-bottom: 1px solid #e0e0e0;
}
.wh-item-heading .title {
  font-size: 18px;
  margin: 0;
}
.wh-item-entry {
  padding: 30px;
}

/* Page Item Starts */

#profileMenuButton {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #eee;
}
.page-item {
  margin: 30px 0 20px;
}
.page-entry-heading {
  background: #e3e6ea;
  padding: 18px;
  position: relative;
}
.page-entry-heading .btn {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -18px;
}
.page-entry-heading h3 {
  font-size: 18px;
  margin: 0;
}
.page-item-entry {
  background: #fff;
  padding: 50px 30px;
}
.page-item-entry a {
  text-decoration: none;
}
.page-item-entry table {
  font-size: 14px;
  table-layout: fixed;
}

/* DATES */
.selected_date {
  font-size: 20px;
  display: inline-block;
  padding: 5px;
  background: rgb(154, 245, 252);
  margin-left: 10px;
}
