/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

#main .menu_logo {
  width: 110px;
  line-height: 45px;
}

/* For Login Form */
input.ng-invalid.ng-touched {
  border-bottom: 1px solid red;
}

.headline h6 {
  font-weight: bolder;
}

.table{
  table-layout: fixed;
}

.table td{
  word-wrap: break-word;
}

/***********************************
Default Form Stylings Starts
**************************************/
.form-group label{
  font-size: 14px;
  color: #979797;
}
.form-control{
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #000;
}
.form-control:focus{
  box-shadow: none;
  border-bottom: 1px solid #555;
}
.form-group .material-icons{
  color: #777;
  font-size: 20px;
  position: absolute;
  right: 25px;
  top: 10px;
}

/***********************************
Bootstrap Modal 
**************************************/

body.modal-open.modal-open.modal-open {
  overflow: visible;
}
.modal-title{
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #022335;
}
.modal-body{
  padding: 40px;
}
.modal-body .row{
  padding-bottom: 20px;
}
.form-section-heading .title{
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 20px;
}


input[type="file"]{
  height: 45px;
}

.whiteheader-item{
  background: #FFFFFF;
  box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.wh-item-heading {
  padding: 14px 30px;
  border-bottom: 1px solid #E0E0E0;
}
.wh-item-heading .title{
  font-size: 18px;
  margin: 0;
}
.wh-item-entry{
  padding: 30px;
}
