<h2 style="color: red">Custom Angular Date Pipe</h2>
<!-- <h5>Today's Date : {{ currentdate | custom2Date : selectedDateFormat$ | async}}</h5> -->
<!-- <p>{{selectedDateFormat$ | async}}</p> -->
<h5 *ngIf="selectedDateFormat$ | async; let myDateFormat">
  Date : {{ currentdate | custom2Date: myDateFormat }}
</h5>
<hr />
<p>Please select date format:</p>

<!-- <div *ngFor="let item of dateFormats; let i = index">
    {{ i + 1 }}
    <input
      value="{{ item.format }} "
      name="dateFormat"
      [(ngModel)]="selectedDateFormat"
      [ngModelOptions]="{ standalone: true }"
      type="radio"
      id="{{ i + 1 }}"
    />
    <label for="{{ i + 1 }}"> {{ item.format }}</label
    ><br />
  </div> -->

<select (change)="onChange($event)">
  <option value="0" selected>Choose one date format</option>
  <option
    *ngFor="let item of dateFormats; let i = index"
    value="{{ item.value }}"
  >
    {{ item.format }}
  </option>
</select>
<br><br>

<p>Choose your date format:</p>

<form>
    <input type="radio" id="html" value="HTML">
    <label for="html">HTML</label><br>
</form> 
<!-- <p>Date: {{ currentdate | custom2Date: selectedDateFormat }}</p> -->

<!-- Two way data binding -->
<!-- <input
    [(ngModel)]="random"
    type="text"
    [ngModelOptions]="{ standalone: true }"
  />
  <br />
  <h1>{{ random }}</h1> -->
